* {
  background-color: black;
  color: white;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  margin-left: 50px;
}
